@media screen and (max-width: 600px) {
  .container .body .begining .center {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0;
    height: 210px;
    border-radius: 20px;
  }
  
  .container .body .begining h1 {
    width: 85%;
    padding: 30px 0px;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    margin: 0;
    background: #008FFF;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
  }
  .container .body .advice {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .container .body .advice .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin-top: 20px;
    background: #3eff58;
    border-radius: 20px;
  }
  
  .container .body .advice .card .cardBody {
    padding: 20px 20px;
  }

  .container .body .advice .card .cardBody h4 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    text-align: center;
  }
  
  .container .body .advice .card .cardImage img {
    width: 300px;
    height: 200px;
    padding: 20px 15px 15px 0;
  }

  .container .credits .cbody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .container .credits .cbody .names {
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    color: #fff;
    margin: 0;
  }
  
  .container .credits .cbody .names ol {
    margin: 5px 0;
  }
  
  .container .credits .cbody .names h5 {
    font-size: 18px;
    margin: 0;
  }
  
  .container .credits .cbody .ie {
    margin-left: 20px;
  }
  
  .container .credits .cbody .ie img:nth-child(1) {
    width: 110px;
  }
  
  .container .credits .cbody .ie img:nth-child(2) {
    width: 120px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 800px) {
  .container .body .begining .center {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0;
    height: 210px;
    border-radius: 20px;
  }
  
  .container .body .begining h1 {
    width: 85%;
    padding: 30px 0px;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    margin: 0;
    background: #008FFF;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
  }
  .container .body .advice {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .container .body .advice .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin-top: 20px;
    background: #3eff58;
    border-radius: 20px;
  }
  
  .container .body .advice .card .cardBody {
    padding: 20px 20px;
  }

  .container .body .advice .card .cardBody h4 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    text-align: center;
  }
  
  .container .body .advice .card .cardImage img {
    width: 300px;
    height: 200px;
    padding: 20px 15px 15px 0;
    border-radius: 0%;
  }

  .container .credits .cbody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .container .credits .cbody .names {
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    color: #fff;
    margin: 0;
  }
  
  .container .credits .cbody .names ol {
    margin: 5px 0;
  }
  
  .container .credits .cbody .names h5 {
    font-size: 18px;
    margin: 0;
  }
  
  .container .credits .cbody .ie {
    margin-left: 20px;
  }
  
  .container .credits .cbody .ie img:nth-child(1) {
    width: 110px;
  }
  
  .container .credits .cbody .ie img:nth-child(2) {
    width: 120px;
    margin-left: 10px;
  }
}


@media screen and (max-width: 360px) {

  .container .navBar .logo {
    margin-left: 1.7rem;
    font-size: 1.5rem;
    font-weight: 800;
    color: #fff;
  }

  .container .navBar .links li a {
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    color: #fff;
  }
  
  .container .body .begining .center {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0;
    height: 210px;
    border-radius: 20px;
  }
  
  .container .body .begining img {
    width: 100%;
    height: 100%;
  }
  
  .container .body .begining h1 {
    width: 85%;
    padding: 30px 0px;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    margin: 0;
    background: #008FFF;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
  }
  .container .body .advice {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .container .body .advice .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin-top: 20px;
    background: #3eff58;
    border-radius: 20px;
  }
  
  .container .body .advice .card .cardBody {
    padding: 20px 20px 10px 20px;
  }

  .container .body .advice .card .cardBody h4 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    text-align: center;
  }

  .container .body .advice .card .cardBody p {
    margin: 0;
    font-size: 15px;
    font-family: "Rubik", sans-serif;
  }
  
  .container .body .advice .card .cardImage img {
    width: 200px;
    height: 150px;
    padding: 10px 15px 15px 0;
    border-radius: 0%;
  }

  .container .credits .cbody {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container .credits .cbody .names {
    font-size: 18px;
    font-family: "Rubik", sans-serif;
    color: #fff;
    margin: 0;
  }
  
  .container .credits .cbody .names ol {
    margin: 5px 0;
  }
  
  .container .credits .cbody .names h5 {
    font-size: 20px;
    margin: 0;
  }
  
  .container .credits .cbody .ie {
    margin-left: 20px;
  }
  
  .container .credits .cbody .ie img:nth-child(1) {
    width: 110px;
  }
  
  .container .credits .cbody .ie img:nth-child(2) {
    width: 120px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 500px) {

  .container .navBar .logo {
    margin-left: 1.7rem;
    font-size: 1.5rem;
    font-weight: 800;
    color: #fff;
  }

  .container .navBar .links li a {
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    color: #fff;
  }
  
  .container .body .begining .center {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0;
    height: 210px;
    border-radius: 20px;
  }
  
  .container .body .begining img {
    width: 100%;
    height: 100%;
  }
  
  .container .body .begining h1 {
    width: 85%;
    padding: 30px 0px;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    margin: 0;
    background: #008FFF;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
  }
  .container .body .advice {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .container .body .advice .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin-top: 20px;
    background: #3eff58;
    border-radius: 20px;
  }
  
  .container .body .advice .card .cardBody {
    padding: 20px 20px 10px 20px;
  }

  .container .body .advice .card .cardBody h4 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    text-align: center;
  }

  .container .body .advice .card .cardBody p {
    margin: 0;
    font-size: 15px;
    font-family: "Rubik", sans-serif;
  }
  
  .container .body .advice .card .cardImage img {
    width: 200px;
    height: 150px;
    padding: 10px 15px 15px 0;
    border-radius: 0%;
  }

  .container .credits .cbody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .container .credits .cbody .names {
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    color: #fff;
    margin: 0;
  }
  
  .container .credits .cbody .names ol {
    margin: 5px 0;
  }
  
  .container .credits .cbody .names h5 {
    font-size: 18px;
    margin: 0;
  }
  
  .container .credits .cbody .ie {
    margin-left: 20px;
  }
  
  .container .credits .cbody .ie img:nth-child(1) {
    width: 110px;
  }
  
  .container .credits .cbody .ie img:nth-child(2) {
    width: 120px;
    margin-left: 10px;
  }
}